### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#School Summaries
school_count = len(school_data)
student_count = len(student_data)
district_budget = school_data["budget"].sum()
district_mathScore_avg = student_data["math_score"].mean()
district_readingScore_avg = student_data["reading_score"].mean()
district_percent_mathPassed = (len(student_data[student_data["math_score"] > 69.9])/student_count)*100
district_percent_readingPassed = (len(student_data[student_data["reading_score"] > 69.9])/student_count)*100
district_percent_passing = (len(student_data[(student_data['math_score'] > 69.9) & (student_data['reading_score'] > 69.9)])/student_count)*100

d = {'Number of Schools': [school_count],
     "Number of Students": [student_count], 
     "Avg Math Score":[district_mathScore_avg],
     "Avg Reading Score":[district_readingScore_avg],
     "% Passing Math": [district_percent_mathPassed],
     "% Passing Reading": [district_percent_readingPassed],
     "Overall Passing" : [district_percent_passing]
    }
district_summary = pd.DataFrame(data = d)

district_summary

,Number of Schools,Number of Students,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
school_data_complete.head()
school_groups = school_data_complete.groupby("School ID")
school_groups

In [4]:
#Dataframe for holding all school data

school_row_df = pd.DataFrame(columns= [
                               "Type",
                               "Total Students",
                               "Budget",
                               "BudgetPerStudent",
                               "Math Avg",
                               "Reading Avg",
                               "Percent Passing Math",
                               "Percent Passing Reading",
                               "Overall Percent Passing" ])

schoolNames = []
schoolTypes = []
schoolsTotalStudents = []
schoolBudgets = []
schoolBudgetPerStudent = []
schoolsMathScoreAvg = []
schoolsReadingScoreAvg = []
schoolsPercentMathPassed = []
schoolsPercentReadingPassed = []
schoolsPercentPassing = []

#loop thru each group to collect information
i = 0
for name, group in school_groups:
    schoolName = group['school_name'].unique()
    schoolNames.append(schoolName[0])

    schoolType = group['type'].unique()
    schoolTypes.append(schoolType[0])
    
    schoolsTotalStudents.append(len(group))
    
    schoolBudget = group['budget'].unique()
    schoolBudgets.append(schoolBudget[0])
    
    schoolBudgetPerStudent.append(schoolBudget[0] / len(group))
    
    school_mathScore_avg = group["math_score"].mean()
    school_readingScore_avg = group["reading_score"].mean()
    school_percent_mathPassed = (len(group[group["math_score"] > 69.9])/len(group))*100
    school_percent_readingPassed = (len(group[group["reading_score"] > 69.9])/len(group))*100
    school_percent_passing = (len(group[(group['math_score'] > 69.9) & (group['reading_score'] > 69.9)])/len(group))*100
    schoolsMathScoreAvg.append(school_mathScore_avg)
    schoolsReadingScoreAvg.append(school_readingScore_avg)
    schoolsPercentMathPassed.append(school_percent_mathPassed)
    schoolsPercentReadingPassed.append(school_percent_readingPassed)
    schoolsPercentPassing.append(school_percent_passing)
    
    school_row = pd.Series({
                               "Type": schoolType[0],
                               "Total Students" :len(group),
                               "Budget": schoolBudget[0],
                               "BudgetPerStudent":schoolBudget[0] / len(group),
                               "Math Avg":school_mathScore_avg,
                               "Reading Avg":school_readingScore_avg,
                               "Percent Passing Math":school_percent_mathPassed ,
                               "Percent Passing Reading": school_percent_readingPassed,
                               "Overall Percent Passing":school_percent_passing },name = schoolName[0])

    i +=1
   
    school_row_df = school_row_df.append(school_row)
    
    
#create a single dataframe with all of these statistics
schools_data_df = pd.DataFrame({"Name" :schoolNames,
                               "Type": schoolTypes,
                               "Total Students": schoolsTotalStudents,
                               "Budget": schoolBudgets,
                               "BudgetPerStudent": schoolBudgetPerStudent,
                               "Math Avg":schoolsMathScoreAvg,
                               "Reading Avg": schoolsReadingScoreAvg,
                               "Percent Passing Math": schoolsPercentMathPassed,
                               "Percent Passing Reading": schoolsPercentReadingPassed,
                               "Overall Percent Passing": schoolsPercentPassing})
#schools_data_df
school_row_df

,Type,Total Students,Budget,BudgetPerStudent,Math Avg,Reading Avg,Percent Passing Math,Percent Passing Reading,Overall Percent Passing
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [5]:
#Here I am trying to derive the same data without looping over groups. Was not successful 
#Struggling with doing the math 
schoolNameList = school_groups['school_name'].head(1)
schoolBudget = school_groups['budget'].head(1)
schoolType = school_groups['type'].head(1)
schoolsTotalStudents= school_groups['school_name'].count()
schools_math_avgs = school_groups["math_score"].mean()
schools_reading_avgs = school_groups["reading_score"].mean()

#school_percent_mathPassed = (len(school_groups[school_groups["math_score"] > 69.9])/school_groups['school_name'].count())*100
#schools_budget_per_student =  school_groups['budget'].head(1)/school_groups['school_name'].count()

schoolNameList.reset_index(inplace=True, drop=True)
schoolBudget.reset_index(inplace=True, drop=True)
schoolType.reset_index(inplace=True, drop=True)

schools_data_fromGroupby_df = pd.DataFrame({"Name":schoolNameList,
                                            "Type":schoolType,
                                            "Total Students": schoolsTotalStudents,
                                            "Budget" : schoolBudget,
                                            
                                            "Math Avg" : schools_math_avgs,
                                            "Reading Avg": schools_reading_avgs
                                            
                                    })


schools_data_fromGroupby_df

,Name,Type,Total Students,Budget,Math Avg,Reading Avg
0,Huang High School,District,2917,1910635,76.629414,81.182722
1,Figueroa High School,District,2949,1884411,76.711767,81.158020
2,Shelton High School,Charter,1761,1056600,83.359455,83.725724
3,Hernandez High School,District,4635,3022020,77.289752,80.934412
4,Griffin High School,Charter,1468,917500,83.351499,83.816757
5,Wilson High School,Charter,2283,1319574,83.274201,83.989488
6,Cabrera High School,Charter,1858,1081356,83.061895,83.975780
7,Bailey High School,District,4976,3124928,77.048432,81.033963
8,Holden High School,Charter,427,248087,83.803279,83.814988
9,Pena High School,Charter,962,585858,83.839917,84.044699
10,Wright High School,Charter,1800,1049400,83.682222,83.955000
11,Rodriguez High School,District,3999,2547363,76.842711,80.744686
12,Johnson High School,District,4761,3094650,77.072464,80.966394
13,Ford High School,District,2739,1763916,77.102592,80.746258
14,Thomas High School,Charter,1635,1043130,83.418349,83.848930

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [6]:
top_performing_df = school_row_df.sort_values("Overall Percent Passing", ascending = False)
top_performing_df.head()

,Type,Total Students,Budget,BudgetPerStudent,Math Avg,Reading Avg,Percent Passing Math,Percent Passing Reading,Overall Percent Passing
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [7]:
bottom_performing_df = school_row_df.sort_values("Overall Percent Passing", ascending = True)
bottom_performing_df.head()

,Type,Total Students,Budget,BudgetPerStudent,Math Avg,Reading Avg,Percent Passing Math,Percent Passing Reading,Overall Percent Passing
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [22]:

    
#create separate dfs for each grade
grade9 = school_data_complete.loc[school_data_complete["grade"] == "9th", :]
grade10 = school_data_complete.loc[school_data_complete["grade"] == "10th", :]
grade11 = school_data_complete.loc[school_data_complete["grade"] == "11th", :]
grade12 = school_data_complete.loc[school_data_complete["grade"] == "12th", :]
schoolGrade_row_df = pd.DataFrame()

#Process each grade--

#Grade 9
schoolGrade9_row_df = pd.DataFrame(columns = ["grade9_math_avg"])
i = 0
#groupby school
school_group9 = grade9.groupby("School ID")
for name, group in school_group9:
    #school name
    schoolName = group['school_name'].unique()
    mathScoreAvg = group['math_score'].mean()
    grade9_math = pd.Series({"school_name":schoolName[0], "grade9_math_avg" : mathScoreAvg},name = i)
    schoolGrade9_row_df = schoolGrade9_row_df.append(grade9_math)
    i +=1

#Grade 10
schoolGrade10_row_df = pd.DataFrame(columns = ["grade10_math_avg"])
i = 0
#groupby school
school_group10 = grade10.groupby("School ID")
for name, group in school_group10:
    #school name
    schoolName = group['school_name'].unique()
    mathScoreAvg = group['math_score'].mean()
    grade10_math = pd.Series({"school_name":schoolName[0],"grade10_math_avg" : mathScoreAvg},name = i)
    schoolGrade10_row_df = schoolGrade10_row_df.append(grade10_math)
    i +=1
    
#Grade 11
schoolGrade11_row_df = pd.DataFrame(columns = ["grade11_math_avg"])
i=0
#groupby school
school_group11 = grade11.groupby("School ID")
for name, group in school_group11:
    #school name
    schoolName = group['school_name'].unique()
    mathScoreAvg = group['math_score'].mean()
    grade11_math = pd.Series({"school_name":schoolName[0],"grade11_math_avg" : mathScoreAvg},name = i)
    schoolGrade11_row_df = schoolGrade11_row_df.append(grade11_math)
    i += 1


#Grade 12
schoolGrade12_row_df = pd.DataFrame(columns = ["grade12_math_avg"])
i = 0
#groupby school
school_group12 = grade12.groupby("School ID")
for name, group in school_group12:
    #school name
    schoolName = group['school_name'].unique()
    mathScoreAvg = group['math_score'].mean()
    grade12_math = pd.Series({"school_name":schoolName[0],"grade12_math_avg" : mathScoreAvg},name = i)
    schoolGrade12_row_df = schoolGrade12_row_df.append(grade12_math)
    i +=1
#in each group add these averages to a series containing schoolName, and each grade average
#add each series to the final dataframe
all_grade_math_avgs = pd.DataFrame()
all_grade_math_avgs = schoolGrade9_row_df

all_grade_math_avgs = all_grade_math_avgs.merge(schoolGrade10_row_df, on = 'school_name')
all_grade_math_avgs = all_grade_math_avgs.merge(schoolGrade11_row_df, on = 'school_name')
all_grade_math_avgs = all_grade_math_avgs.merge(schoolGrade12_row_df, on = 'school_name')


all_grade_math_avgs.set_index('school_name', inplace = True)
all_grade_math_avgs

,grade9_math_avg,grade10_math_avg,grade11_math_avg,grade12_math_avg
school_name,,,,
Huang High School,77.027251,75.908735,76.446602,77.225641
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Shelton High School,83.420755,82.917411,83.383495,83.778976
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Griffin High School,82.044010,84.229064,83.842105,83.356164
Wilson High School,83.085578,83.724422,83.195326,83.035794
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Bailey High School,77.083676,76.996772,77.515588,76.492218
Holden High School,83.787402,83.429825,85.000000,82.855422
Pena High School,83.625455,83.372000,84.328125,84.121547
Wright High School,83.264706,84.010288,83.836782,83.644986
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Johnson High School,77.187857,76.691117,77.491653,76.863248
Ford High School,77.361345,77.672316,76.918058,76.179963
Thomas High School,83.590022,83.087886,83.498795,83.497041

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [25]:

#Process each grade--

#Grade 9
schoolGrade9_row_df = pd.DataFrame(columns = ["grade9_reading_avg"])
i = 0
#groupby school
school_group9 = grade9.groupby("School ID")
for name, group in school_group9:
    #school name
    schoolName = group['school_name'].unique()
    readingScoreAvg = group['reading_score'].mean()
    grade9_reading = pd.Series({"school_name":schoolName[0], "grade9_reading_avg" : readingScoreAvg},name = i)
    schoolGrade9_row_df = schoolGrade9_row_df.append(grade9_reading)
    i +=1

#Grade 10
schoolGrade10_row_df = pd.DataFrame(columns = ["grade10_reading_avg"])
i = 0
#groupby school
school_group10 = grade10.groupby("School ID")
for name, group in school_group10:
    #school name
    schoolName = group['school_name'].unique()
    readingScoreAvg = group['reading_score'].mean()
    grade10_reading = pd.Series({"school_name":schoolName[0],"grade10_reading_avg" : readingScoreAvg},name = i)
    schoolGrade10_row_df = schoolGrade10_row_df.append(grade10_reading)
    i +=1
    
#Grade 11
schoolGrade11_row_df = pd.DataFrame(columns = ["grade11_reading_avg"])
i=0
#groupby school
school_group11 = grade11.groupby("School ID")
for name, group in school_group11:
    #school name
    schoolName = group['school_name'].unique()
    readingScoreAvg = group['reading_score'].mean()
    grade11_reading = pd.Series({"school_name":schoolName[0],"grade11_reading_avg" : readingScoreAvg},name = i)
    schoolGrade11_row_df = schoolGrade11_row_df.append(grade11_reading)
    i += 1


#Grade 12
schoolGrade12_row_df = pd.DataFrame(columns = ["grade12_reading_avg"])
i = 0
#groupby school
school_group12 = grade12.groupby("School ID")
for name, group in school_group12:
    #school name
    schoolName = group['school_name'].unique()
    readingScoreAvg = group['reading_score'].mean()
    grade12_reading = pd.Series({"school_name":schoolName[0],"grade12_reading_avg" : readingScoreAvg},name = i)
    schoolGrade12_row_df = schoolGrade12_row_df.append(grade12_reading)
    i +=1
#in each group add these averages to a series containing schoolName, and each grade average
#add each series to the final dataframe
all_grade_reading_avgs = pd.DataFrame()
all_grade_reading_avgs = schoolGrade9_row_df

all_grade_reading_avgs = all_grade_reading_avgs.merge(schoolGrade10_row_df, on = 'school_name')
all_grade_reading_avgs = all_grade_reading_avgs.merge(schoolGrade11_row_df, on = 'school_name')
all_grade_reading_avgs = all_grade_reading_avgs.merge(schoolGrade12_row_df, on = 'school_name')


all_grade_reading_avgs.set_index('school_name', inplace = True)
all_grade_reading_avgs

,grade9_reading_avg,grade10_reading_avg,grade11_reading_avg,grade12_reading_avg
school_name,,,,
Huang High School,81.290284,81.512386,81.417476,80.305983
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Shelton High School,84.122642,83.441964,84.373786,82.781671
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Griffin High School,83.369193,83.706897,84.288089,84.013699
Wilson High School,83.939778,84.021452,83.764608,84.317673
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Bailey High School,81.303155,80.907183,80.945643,80.912451
Holden High School,83.677165,83.324561,83.815534,84.698795
Pena High School,83.807273,83.612000,84.335938,84.591160
Wright High School,83.833333,83.812757,84.156322,84.073171
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Johnson High School,81.260714,80.773431,80.616027,81.227564
Ford High School,80.632653,81.262712,80.403642,80.662338
Thomas High School,83.728850,84.254157,83.585542,83.831361

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type